<form action="<%= volcano_path(@volcano) %>" method="post">
  <label>
    Name:
    <input type="text" name="volcano[name]" required autofocus value="<%= @volcano.name %>">
  </label>

  <label>
    Image:
    <input type="text" name="volcano[image]"  value="<%= @volcano.image %>">
  </label>

  <label>
    Last eruption:
    <input type="number" name="volcano[last_eruption]"  value="<%= @volcano.last_eruption %>">
  </label>

  <label>
    country:
    <input type="text" name="volcano[country]"  value="<%= @volcano.country %>">
  </label>

  <button>Update Volcano</button>

</form>
