<h1>Edit Ocean</h1>

<form class = "ocean_form" action="<%= ocean_path(@ocean.id) %>" method="post">

<label>
  Name
  <input type="text" name="ocean[name]" required autofocus value="<%= @ocean.name %>">
</label>

<label>
  Location
  <input type="text" name="ocean[location]" value="<%= @ocean.location %>">
</label>

<label>
  Area
  <input type="text" name="ocean[area]" value="<%= @ocean.area %>">
</label>

<label>
  Volume
  <input type="text" name="ocean[volume]" value="<%= @ocean.volume %>">
</label>

<label>
  Depth
  <input type="text" name="ocean[depth]" value="<%= @ocean.depth %>">
</label>

<label>
  Coastline
  <input type="text" name="ocean[coastline]" value="<%= @ocean.coastline %>">
</label>

<label>
  Image URL
  <input type="url" name="ocean[image]" value="<%= @ocean.image %>">
</label>


<button>Update Ocean</button>

</form>
