<h1><%= @ocean.name %></h1>

<% unless @ocean.image.nil?%>
<img class= "ocean_image" src="<%= @ocean.image %>" alt="">
<% end %>

<ul>
  <li>
    Location: <%= @ocean.location %>
  </li>
  <li>
    Area: <%= number_with_delimiter @ocean.area %> km<sup>2</sup>
  </li>
  <li>
    Volume: <%= number_with_delimiter @ocean.volume %> km<sup>3</sup>
  </li>
  <li>
    Depth: <%= number_with_delimiter @ocean.depth %> m
  </li>
  <li>
    Coastline: <%= number_with_delimiter @ocean.coastline %> km
  </li>
</ul>

<%= link_to "Edit", ocean_edit_path(@ocean.id), :class => "edit_button"%>
<%= button_to "Delete", ocean_delete_path(@ocean.id), :method => "post"%>
