<div class="wrapper">
  <div class="player">
    <h2>Player: <%= @usr_choice %></h2>
    <div class="<%= @usr_choice %>"></div>
  </div>
  <div class="opponent">
    <h2>Opponent: <%= @opponent %></h2>
    <div class="<%= @opponent %>"></div>
  </div>

  <h1><%= @output %></h1>
  <a href="/rock_paper_scissors"><button>Play again</button></a>
</div>
