<h2><%= @book['name'] %></h2>
<h3>Year: <em><%= @book['year'] %></em></h3>

<% unless @book.author.nil? %>
  <h3>author:
    <a href="/authors/<%= @book.author.id %>">
      <%= @book.author.name %>
    </a>
  </h3>
<% end %>

<% unless @book['image'].nil? %>
  <img class="feature" src="<%= @book['image'] %>" alt="">
<% end %>

<div class="controls">
  <a href="/books/<%= @book['id'] %>/delete">Delete</a>
  <a href="/books/<%= @book['id'] %>/edit">Edit</a>
</div>
