<p>
  <h2>Edit book</h2>
  <form action="/books/<%=@book['id']%>" method="post">
    <input type="text" name="name" placeholder="Book name" value="<%=@book['name']%>">
    <input type="text" name="author" placeholder="Author name" value="<%=@book['author']%>">
    <input type="text" name="description" placeholder="Short description" value="<%=@book['description']%>">
    <input type="url" name="image" placeholder="URL (http://...)" value="<%=@book['image']%>"><br>
    <button>Edit book</button>
  </form>
</p>
