<!DOCTYPE html>
<html>
<head>
  <title>TeachersAndSubjects</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <nav>
    <%= link_to "All teachers", teachers_path %>
    <%= link_to "New teacher", new_teacher_path %>
    <%= link_to "All subjects", subjects_path %>
    <%= link_to "New subject", new_subject_path %>
  </nav>
  <%= yield %>
</div>
</body>
</html>
