<!DOCTYPE html>
<html>
<head>
  <title>MoviesDirectors</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container">
    <nav>
    <%= link_to "All movies", movies_path %>
    <%= link_to "New movie", movies_new_path %>

    <%= link_to "All directors", directors_path %>
    <%= link_to "New director", directors_new_path %>

    </nav>

    <%= yield %>
  </div>
</body>
</html>
