<%= form_for @book do |f| %>
  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </fieldset>
  <fieldset>
    <%= f.label :year %>
    <%= f.text_field :year %>
  </fieldset>

  <fieldset>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </fieldset>

  <fieldset>
    <%= f.label :abstract %>
    <%= f.text_field :abstract %>
  </fieldset>

  <fieldset>
    <%= f.label :author_id %>
    <%= f.select :author_id, Author.pluck(:name, :id), :include_blank => true %>
  </fieldset>

  <fieldset>
    <label></label>
    <%= f.submit %>
  </fieldset>
<% end %>
