<!DOCTYPE html>
<html>
<head>
  <title>OceanProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <%= link_to "Home", oceans_path %>
    <%= link_to "New Ocean", oceans_new_path %>
  </nav>
  
  <div class="container">
    <%= yield %>
  </div>



</body>
</html>
